.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    height: 188px;
   -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
   margin-top: 16px;
}

.featuredTitle{
    font-size: 20px;

}

.featuredMoneyController{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: bold;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: rgb(67, 215, 67);
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: grey;
}